<div class="col-xl-8 grid-margin stretch-card">
    <div class="card card-calender">
        <div class="card-body">
            <div class="row pt-4">
                <div class="col-sm-6">
                    <h1 class="text-white">10:16PM</h1>
                    <h5 class="text-white">Monday 25 October, 2016</h5>
                    <h5 class="text-white pt-2 m-0">@ViewBag.weather</h5>
                   
                </div>
                <div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
                    <h3 class="text-white">@ViewBag.city</h3>
                    <p class="text-white m-0">@ViewBag.city, TR</p>
                    <h3 class="text-white m-0">@ViewBag.temperature</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <ul class="d-flex pl-0 overflow-auto">
                        <li class="weakly-weather-item text-white font-weight-medium text-center active">
                            <p class="mb-0">TODAY</p>
                            <i class="mdi mdi-weather-cloudy"></i>
                            <p class="mb-0">@ViewBag.temperature<span class="symbol">°c</span></p>
                        </li>
                        <li class="weakly-weather-item text-white font-weight-medium text-center">
                            <p class="mb-0">MON</p>
                            <i class="mdi mdi-weather-hail"></i>
                            <p class="mb-0">21<span class="symbol">°c</span></p>
                        </li>
                        <li class="weakly-weather-item text-white font-weight-medium text-center">
                            <p class="mb-0">TUE</p>
                            <i class="mdi mdi-weather-cloudy"></i>
                            <p class="mb-0">21<span class="symbol">°c</span></p>
                        </li>
                        <li class="weakly-weather-item text-white font-weight-medium text-center">
                            <p class="mb-0">WED</p>
                            <i class="mdi mdi-weather-fog"></i>
                            <p class="mb-0">21<span class="symbol">°c</span></p>
                        </li>
                        <li class="weakly-weather-item text-white font-weight-medium text-center">
                            <p class="mb-0">THU</p>
                            <i class="mdi mdi-weather-hail"></i>
                            <p class="mb-0">21<span class="symbol">°c</span></p>
                        </li>
                        <li class="weakly-weather-item text-white font-weight-medium text-center">
                            <p class="mb-0">FRI</p>
                            <i class="mdi mdi-weather-cloudy"></i>
                            <p class="mb-0">21<span class="symbol">°c</span></p>
                        </li>
                        <li class="weakly-weather-item text-white font-weight-medium text-center">
                            <p class="mb-0">SAT</p>
                            <i class="mdi mdi-weather-hail"></i>
                            <p class="mb-0">21<span class="symbol">°c</span></p>
                        </li>
                        <li class="weakly-weather-item text-white font-weight-medium text-center">
                            <p class="mb-0">SUN</p>
                            <i class="mdi mdi-weather-cloudy"></i>
                            <p class="mb-0">21<span class="symbol">°c</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>